.login,
.login * {
  box-sizing: border-box;
}

.login {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow: hidden;
}

.login .mung-chi-rental {
    color: #004e96;
    text-align: left;
    font-family: "Manrope-Bold", sans-serif;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.025em;
    font-weight: 700;
    position: absolute;
    right: 120px; /* 이전 156px에서 줄임 */
    left: 250px; /* 이전 214px에서 늘림 */
    width: 230px;
    bottom: 714px;
    top: 47px;
    height: 82px;
  }  

  .login .vector {
    width: 30px; /* 기존 50px에서 증가 */
    height: 30px; /* 기존 30px에서 증가 */
    position: absolute;
    right: 397px;
    left: 200px;
    bottom: 764px;
    top: 50px;
    overflow: visible;
  }

.login .create-an-account {
  color: #202224;
  text-align: center;
  font-family: "PretendardVariable-Bold", sans-serif;
  font-size: 24px;
  letter-spacing: -0.11px;
  font-weight: 700;
  position: absolute;
  right: 40px;
  left: 40px;
  width: 520px;
  bottom: 630px;
  top: 130px;
  height: 107px;
}

.login .input {
  background: #f1f4f9;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  width: 526px;
  height: 56px;
  position: absolute;
  right: 34px;
  left: 40px;
  bottom: 420px;
  top: 368px;
}

.login .devicon-google {
    width: 30px; /* 기존 38px에서 증가 */
    height: 30px; /* 기존 25px에서 증가 */
    position: absolute;
    right: 407px;
    left: 200px;
    bottom: 438px;
    top: 381px;
    overflow: visible;
  }
  
.login .div {
  color: #232323;
  text-align: center;
  font-family: "Manrope-Bold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  right: 45px;
  left: 140px;
  width: 386px;
  bottom: 429px;
  top: 374px;
  height: 40px;
}
